{% extends 'base.html.twig' %}

{% block title %}Edit Skills & CV{% endblock %}

{% block body %}
    <h1>Edit Skills & CV</h1>

    {{ include('worker/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}" class="btn btn-primary"><i
                class="fa fa-undo" aria-hidden="true"></i></a>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/js/skills.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('build/css/skills.css') }}"/>
{{ parent() }}
{% endblock %}
