{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="text-center">All yuor apply projects</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>StartDate</th>
            <th>CrewCount</th>
            <th>Budget</th>
            <th>RegisterDeadline</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for apply in applies %}
            {% set project = apply.project %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.crewCount }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.registerDeadline ? project.registerDeadline|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('worker_apply', {'id': apply.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">There is no projects</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}