{% block navbar %}
    <header class="navbar navbar-expand bg-dark navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('home') }}">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('skills_index') }}">Skills</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYER') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('project_index') }}">Projects</a>
                    </li>
                {% elseif is_granted('ROLE_WORKER') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('worker_projects') }}">Projects</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            {% if is_granted('ROLE_EMPLOYER') or is_granted('ROLE_WORKER') %}
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('user_index') }}">
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="fa fa-logout"></i>
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </header>
{% endblock %}