{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="text-center">All yuor projects
        <span>
            {% if is_granted('ROLE_EMPLOYER') %}
                <a href="{{ path('project_new') }}">Create new project</a>
            {% endif %}
        </span>
    </h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>StartDate</th>
            <th>CrewCount</th>
            <th>Budget</th>
            <th>RegisterDeadline</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.crewCount }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.registerDeadline ? project.registerDeadline|date('Y-m-d') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_EMPLOYER') %}
                        <a href="{{ path('project_show', {'id': project.id}) }}"><i class="fa fa-eye"
                                                                                    aria-hidden="true"></i></a>
                        <br>
                        <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{ path('worker_project_show', {'id': project.id}) }}"><i class="fa fa-eye"
                                                                                           aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">There is no projects</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}