{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="text-center">Project {{ project.name }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-title"><b>Project Author:</b> {{ project.user.name }}</p>
            <h4 class="card-title"><b>Start date:</b> {{ project.startDate ? project.startDate|date('Y-m-d') : '' }}
            </h4>
            <h4 class="card-title"><b>Crew Count:</b> {{ project.crewCount }}</h4>
            <h4 class="card-title"><b>Budget:</b> {{ project.budget }} &#x20AC;</h4>
            <p class="card-text"><b>Description:</b> {{ project.description }}</p>
            <h4 class="card-title"><b>Skills:</b>
                {% for skill in project.skills %}
                    {{ skill.name }}
                {% endfor %}
            </h4>
            <h4 class="card-title"><b>Register
                    deadline:</b> {{ project.registerDeadline ? project.registerDeadline|date('Y-m-d') : '' }}</h4>

            {% if is_granted('ROLE_EMPLOYER') %}
                <a href="{{ path('project_index') }}" class="card-link btn btn-primary" style="font-size: 21px;"><i
                            class="fa fa-undo" aria-hidden="true"></i></a>
                <a href="{{ path('project_edit', {'id': project.id}) }}" class="card-link btn btn-success"
                   style="font-size: 21px; margin-left: 1px"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <form method="post" action="{{ path('project_delete', {'id': project.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');"
                      style="display:  inline-block;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                    <button type="submit" class="card-link btn btn-danger btn-sm"><i class="fa fa-trash"
                                                                                     aria-hidden="true"></i></button>
                </form>

            {% elseif is_granted('ROLE_WORKER') %}
                <a href="{{ path('worker_projects') }}" class="card-link btn btn-primary" style="font-size: 21px;"><i
                            class="fa fa-undo" aria-hidden="true"></i></a>
                {% if is_granted('worker_apply', project) %}
                    <a href="{{ path('worker_project_apply', {'id': project.id}) }}" class="card-link btn btn-success"
                       style="font-size: 21px; margin-left: 1px">Apply</a>
                {% elseif not is_granted('project_not_applied_yet', project) and apply is defined %}
                    {% include 'project/messages.html.twig' with {'messages': apply.messages} %}
                {% endif %}
            {% endif %}
        </div>
    </div>


    {% if is_granted('is_project_author', project) and project.applies %}
        <br/>
        <br/>
        <div class="row">
        {% for status,applies in applies %}
            {% if applies %}
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{ status|capitalize }}</h4>
                            </div>
                            {% for apply in applies %}
                                <div class="card-body">
                                    <p class="card-text"><b>Name: </b>{{ apply.worker.user.fullName }}</p>
                                    <p class="card-text"><b>Email: </b>{{ apply.worker.user.email }}</p>
                                    <a href="{{ path('apply_show', {'id': apply.id, 'project': project.id}) }}"
                                       class="card-link btn btn-primary"><i class="fa fa-eye"
                                                                            aria-hidden="true"></i></a>
                                    <a target="_blank" href="{{ path('apply_cv_show', {'id': apply.id}) }}"
                                       class="card-link btn btn-primary" style="margin: 1px"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}


{% endblock %}