{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.fullName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% if worker %}
            <tr>
                <th>Skills</th>
                <td>   {% for skill in worker.skills %}
                        {{ skill.name }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>CV</th>
                <td>
                    {% if worker.cv %}
                    <a target="_blank" href="{{ path('my_cv') }}">{{ user.fullName }}.pdf</a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_edit') }}">Edit Personal Info</a>
    {% if worker %}
    <a class="btn btn-primary" href="{{ path('worker_edit') }}">Edit Skills & CV</a>
        {% if worker.applies %}
            <a class="btn btn-warning" href="{{ path('worker_history') }}">Apply history</a>
        {% endif %}
    {% endif %}

{% endblock %}